/* CSS Document */
/* An alternative stylesheet ...
 */
 html, body {
  background:       #cfc;
  color:            #330;
  margin:           0;
  padding:          0;
  }

h1 {
  text-align:       center;
  margin:           auto;
  }

img {
	display: 					none;
  }


#home-page h1 {
  font-family:     	sans-serif;
  font-style:      	italic;
  font-size:				3em;
  }

#content {
  clear:            both;
  width:						80%;
  margin:						auto;
  }

.whitebox {
  background-color:   #eef;
  color:              #990;
  border:             none;
  margin:							auto;
	width:							90%;
  font-family:"Times New Roman", Times, serif;
  }

#footer {
  font-size:          0.6em;
  text-align:         center;
  }


