/*  
 *	All Sized in ems ( relative to text-size).
 */

 html, body {
  background:       #fcc;
  color:            white;
  width:						80em;
  margin:           auto;
  padding:          1em;
  }

.whitebox {
	width:						70em;
  margin:						auto;
  border:						none;
  background-color: #f99;
  }

h1 {
	font-size:				2em;
  text-align:				center;
  }
h2 {
	font-size:				1.6em;
  }
img {
	height:						6em;
  }
p {
	font-size:				1em;
  }
#footer {
	font-size:				0.7em;
  }
