/* home-page.css */

html, body {
  margin:0; padding:1em;
  background-color:#311;
  font-family:Verdana, Geneva, sans-serif;
  color:white;
}

#header, #footer, .whitebox {
  max-width:990px;
  margin:1em auto;
  color:white;
  background-color:#6aa18a;
  }
.whitebox, #footer {
  padding:0.5em;
  border-radius:0.5em;
  box-shadow:0.125em 0.125em 0.25em #cFc;
}
h2 {
  max-width:990px;
  margin:auto;
}
#header {
  max-width:640px;
  padding:1em 60px 1em 200px;
}
#header>img {
  float:left;
  border:none;
  margin:0 0 0 -180px;
  width:125px;
  }
a, a:visited {
  text-decoration:none;
  color:white;
}
a:hover {
  background-color:#311;
}

h1 {
  font-family:cursive;
  font-style:italic;
  text-shadow: 0.125em 0.125em 0.25em #311;
  }
h1+h1 {
  margin-top:-1em;
}
h2 {
  padding:0 1em;
  font-family:Verdana, Geneva, sans-serif;
}

#links-here {
  padding:1em 2em;
  list-style-type: none;
  line-height:1.6;
  }
#links-here>li {
  clear:both;
}
#course-links, #links-elsewhere {
  list-style-type:none;
  margin:0 auto;
  width:90%;
  min-height:2em;
  }
#course-links li, #links-elsewhere li {
  margin:0 1px;
  padding: 0;
  text-align:center;
  width:48%;
  display:inline-block;
  font-size: 0.8em;
  border:1px solid white;
  }
#course-links a, #links-elsewhere a {
  display:block;
}

#footer, #links-elsewhere {
  font-size:0.8em;
  text-align:center;
  clear:both;
}

#twitter-logo {
  position:relative;
  top:2px;
  display:inline;
  height:1em;
  border:none;
}
