/* 
 * 	All sizes as percentaqges.
 */
 html, body {
  background:       	#ccf;
  color:            	#330;
  width:							100%;
  margin:           	auto;
  padding:          	0;
  }

h1 {
  text-align:       	center;
  margin:           	auto;
  font-family:     		sans-serif;
  font-style:      		italic;
  font-size:					200%;
  }

h2 {
	font-size:					150%;
  }
p {
	font-size:					100%;
  }

#identity-picture img {
	width: 10%;
  }

#content {
  clear:            	both;
  width:							80%;
  margin:							auto;
  }

.whitebox {
  background-color:   #99f;
  color:              #330;
  border: 						none;
  margin:							auto;
	width:							90%;
  font-family:				"Times New Roman", Times, serif;
  }

#footer {
  font-size:          70%;
  text-align:         center;
  }


