/* 
 * 	All sizes in pixels.
 */
 html, body {
  background:       	#cfc;
  color:            	#330;
  width:							800px;
  margin:           	auto;
  padding:          	0;
  }

h1 {
  text-align:       	center;
  margin:           	auto;
  font-family:     		sans-serif;
  font-style:      		italic;
  font-size:					30px;
  }

h2 {
	font-size:					20px;
  }
p {
	font-size:					15px;
  }

#identity-picture img {
	width: 10%;
  }

#content {
  clear:            	both;
  }

.whitebox {
  background-color:   #9f9;
  color:              #303;
  border: 						none;
  margin:							auto;
	width:							700px;
  font-family:				"Times New Roman", Times, serif;
  }

#footer p {
  font-size:          10px;
  text-align:         center;
  }



