
html, body {
  font-family:      sans-serif;
  padding:          0 1em;
  }

a {
  padding:0.2em;
  }

a:hover, #home-page .links a:hover {
  background-color: #ffc;
  color:            #c33;
  text-decoration:  none;
  }


