html, body {
  background:       #ffc;
  color:            #330;
  margin:           0;
  padding:          0;
  }

h1 {
  text-align:       center;
  margin:           auto;
  }
p {
	widows:4;
  orphans:4;
  }
dt {
  font-style:       italic;
  }

hr {
  background-color: blue;
  color:            #603;
  width:            80%;
  height:           0.3em;
  margin:           1em auto auto auto;
  }

#content {
  clear:            both;
  padding-bottom:2em;
  }

.subscript {
  font-size:        0.8em;
  position:         relative;
  top:              0.4em;
  }

.whitebox {
  background-color:   white;
  color:              black;
  border:             solid 1px blue;
  margin-left:        1.5em;
  margin-right:       3em;
  padding:            1em;
  }

.whitebox>ul>li {
	clear:							both;
  }

#footer {
	position:						fixed;
  bottom:							0;
  left:								0;
  width:							100%;
	background-color:		#eee;
  font-size:          0.6em;
  padding:	          0.6em 0 0.3em 0;
  border-top:					1px dotted green;
  text-align:         center;
  }

