/* assignment_99.css */

html, body {
  background-color:#cfc;
  color:#000;
  }

.requiredIndicator {
  color:red;
  background-color:transparent;
  }
label {
  float:left;
  width:10em;
  text-align:right;
  }
form .requiredIndicator {
  float:left;
  }
input {
  clear:both;
  margin-left:10em;
  }
