/* assignment_06.css */
html, body {
  width:            100%;
  background-color: #fc9;
  color:            #030;
  font-family:      sans-serif;
  }
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  }

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

h2 {
  clear: both;
  }
label {
  clear:both;
  float:            left;
  text-align:       right;
  width:            15em;
  display:          block;
  padding:          0 1em 0 0;
  }
input, textarea, select {
  float:            left;
  display:          block;
  }

#header {
  text-align:       center;
  }

#content  {
  width:            90%;
  margin:           auto;
  }
.radio-check-set p {
  text-align:right;
  width:15em;
  margin:0;
  padding:0 1em 0 0;
  float:left;
  clear:both;
  }
.radio-check-set div {
  float:left;
  }
.radio-check-set input {
  display:inline;
  float:none;
  }
.radio-check-set label {
  display:inline;
  float:none;
  text-align:left;
  padding-left:0.5em;
  padding-right:2em;
  }

textarea {
	margin-bottom:1em;
  }
#submit {
  float:none;
  clear:both;
  margin:1em 0 0 20em;
  }

#footer {
  width:            60%;
  margin:           auto;
  text-align:       center;
  font-size:        0.7em;
  }

