/* CS-343, Spring 2008 */

body {
	margin: auto;
	max-width: 800px;
  }

h2+div {
	border:1px solid green;
  background-color:white;
  color:black;
  padding:1em;
  width:90%;
  margin:auto;
  }
address {
	padding-left:3em;
  margin:0;
  }

.at {
	border:1px dotted red;
  font-style:normal;
  text-transform:lowercase;
  }
.important {
	font-style:italic;
  text-align: center;
  }

#basic-symbols {
	width: 90%;
	margin:auto;
  }
#basic-symbols img {
	padding:	0 20px;
  }
#testbed-images {
	width: 90%;
	margin: auto;
  overflow:hidden;
  }
#testbed-images img {
	width: 600px;
  border: 1px solid green;
  margin: 1em 0;
  }

.truth-table {
	width: 90%;
  }

.truth-table td {
	text-align:center;
  }
td.left {
  padding-left:1em;
	text-align: left; 
  }
.input {
	background-color:#6cf;
  color:black;
  }
.output {
  background-color: #ff9;
  color: black;
  }