@charset "UTF-8";
/* CSS Document */

h1, h2 {
  text-shadow:#333 0.125em 0.125em 0.125em;
}
.subquestion-list {
   list-style-type:lower-roman;
   margin-top:1em;
}
#footer {
  border-top: 1px solid #00f;
}