.DS_Store
*[0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]*
Announcements/
Assessment/
Enrollment/
CSCI_UCC/
KornShell
OmniFocus/
Self-Study/Vitae/
USPIW
apple-touch-icon-precomposed.png
bugzilla/
google1f31024d7a844f4d.html
googlehostedservice.html
rmx_disks/
.sass-cache/
enrollment.xlsx
qrlib/
qr/images/
/GEAC/
