#example h3 {
  margin:2em 0 0;
}
#address-bits-slider, #memory-locations-slider {
  border:0;
  margin:0;
  padding:0;
  width:100%;
}
.slider-min, .slider-mid, .slider-max {
  position:absolute;
  color:red;
}
.slider-min { left:0; }
.slider-max { right:0; }
.slider-mid { left:50%; }
#address-bits-slider + p, #memory-locations-slider +p { position:relative; margin:0.5em 0 2em; }
#address-bits-slider a, #memory-locations-slider a { text-decoration: none; }
