/*  style-all.css
 */

html body{
  width:              100%;
  margin:             0;
  padding:            0;
  counter-reset:      figures tables;
  }

h1 {
  margin:             0;
  padding:            0.5em 0;
  }

h2 {
  margin:             0;
  padding:            1em 0 0 0;
  }

h3, h4 {
  margin:             0.5em 0 0.5em 0;
	}

/*  Display: run-in doesn't work */
h5 {
  margin:             0;
/*  display:            run-in; */
    display:          inline;
	}
.run-in-heading {
  font-weight:        bold;
  }

p {
  margin-left:          1em;
	margin-right:         2em;
	}

caption:before {
	content:              "Table "counter(tables, decimal)". "; 
  font-weight:          bolder;
  }

caption  {
  caption-side:         bottom;
  text-align:           left;
  font-size:            1em;
  margin:               inherit;
  padding:              0.5em 0 0.5em 0;
  }

ul {
  margin-bottom:        1em;
  }

li {
  padding-right:        1em;
  }

td ul {
  margin:               0;
  padding:              0 0 0 1em;
  list-style-position:  inside;
  }

#header {
  text-align:           center;
  padding:              0;
  width:                100%;
  }

#mission-statement {
  width: 80%;
  text-align:           justify;
  margin:               1em auto 1em auto;
  padding:              1em;
  background:           #ccc;
  color:                #000;
  border:               solid 1px #f88;
  }

#references_table td {
  vertical-align:       top;
  font-size:            0.8em;
  }

#footer {
  width:                100%;
  text-align:           center;
  }

#teaching_load td {
  text-align:           right;
  }

.block_indent {
	width:							  90%;
	margin:							  auto;
  padding:              0.5em;
  text-align:           justify;
	font-size:					  0.8em;
  background-color:     #ccc;
  color:                black;
  }

.left {
  text-align:         left;
  }

.right {
  text-align:         right;
  }

.center {
  text-align:         center;
  }

.whitebox
{
  width:              98%;
  background:         white;
  color:              black;
  border:             solid 1px blue;
  margin:             auto;
  padding:            0.5em 0.2em 0 0.2em;
}

.TODO {
  border:             solid 1px red;
  padding:            0.1em;
  background:         #fcc;
  color:              #000;
/* -moz-border-radius: 5pt; */
  }

.datatable {
  border-collapse:    collapse;
  border:             solid 1px black;
  margin-left:        2em;
  font-size:          0.7em;
 }

.datatable th {
  text-align:         left;
  background:         #ccc;
  color:              #000;
  border:             solid 1px black;
  padding:            0.5em;
  }

.datatable td {
  border:             solid 1px black;
  padding:            0.5em;
  vertical-align:     top;
  }

.datatable thead {
  border-bottom:      solid 2px black;
	}

.datatable tfoot {
  border-top:         solid 2px black;
	}

.texttable {
  border-collapse:    collapse;
  border:             solid 1px black;
  margin-left:        2em;
  font-size:          0.7em;
  }

.texttable th {
  text-align:         left;
  background:         #ccc;
  color:              #000;
  border:             solid 1px black;
  padding:            0.5em;
  }

.texttable td {
  border:             solid 1px black;
  padding:            0.5em;
  vertical-align:     top;
  text-align:         left;
  }

.texttable thead {
  border-bottom:      solid 2px black; }

.texttable tfoot {
  border-top:  				solid 2px black;
	}

.texttable tfoot td {
  padding-left:       1em;
	}

.datatable, .texttable {
  counter-increment:  tables;
  }

.figure {
  counter-increment:  figures;
  }

.figure img {
  margin:             0; 
  padding:            0;
  background:         white;
  color:              black;
  border:             1px solid;
  }

.figure p {
  text-align:         justify;
  font-size:          0.8em;
  width:              80%;
  }

.figure_caption {
  font-size:          1.2em;
  }

.figure_caption:before {
  content:            "Figure "counter(figures, decimal)". ";
  font-weight:        bolder;
  }

/* Triangles in the text of the notes at the beginning: */
.arrows_in_notes { height: 1em; }

#taulbee_salaries {
  width:              100%;
  }

.section-number {
  margin:             0;
  padding:            0;
  background-color:   transparent;
  color:              #4ff;
  display:            none; /* Used only in working draft */
  }
