#gradient-target {
  background:#F63 url(../images/assignment_6_gradient.png) top left repeat-y;
  color:#CF6;
  padding:1em;
}

#tiled-image-target {
  background: white url(../images/assignment_6_tiled.jpg) center repeat-x;
  padding:1em;
  color:#006;
}