/*  style-screen.css
 */

body, html { font-family: sans-serif; margin:0; padding: 0;}
h2, h3     { margin-left: 1em; }
a:hover {
  background:       #fcc;
  color:            #33f;
  text-decoration:  none;
  }

#header    { font-size: 0.8em; }
#content   { font-size: 0.8em; }
#footer    { font-size: 0.6em; }
#controller {
  width:      50%;
  top:        25%;
  left:       25%;
  position:   fixed;
  background: #343;
  color:      white;
  opacity:    0.7;
  padding:    1em;
  z-index:    99;
  }

#image {
  padding:    0.5em;
  border:     2px solid green;
  background: #ffe;
  color:      white;
  width:      304px;
  }

  
