@charset "UTF-8";
/* CSS Document */

html,body {
  margin:0;padding:0;
  background-color:#666;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}
canvas {
  margin:10% auto;
  display:block;
  text-align:center;
  background-color:white;
}

.controls {
  margin:0;
  background-color:#666;
  list-style-type:none;
}
.controls li {
  margin:0.25em;
}
.controls a {
  padding:0.25em;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-variant:small-caps;
  color:white;
  text-decoration:none;
}
.controls a:hover {
  background-color:#333;
}
#nav-controls {
  border:1px solid white;
}
h1 {
  text-align:center;
}
h1+div {
  width:80%;
  max-width:900px;
  margin:auto; padding:1em;
  background-color:#ddd;
  color:black;
  border: 1px solid black;
}
