SCHEMATIC START ;
// created by map version G.28 on Tue Oct 26 12:16:26 2004 
COMP "PADIN_RC200ButtonsIn_in_1" LOCATE =  SITE "K5" LEVEL 1; 
COMP "PADOUT_ob1_out_0" LOCATE =  SITE "M2" LEVEL 1; 
COMP "PADIN_RC200Clock50000000Bus_in_0" LOCATE =  SITE "E12" LEVEL 1; 
COMP "PADOUT_CS4202SDataOutBus_Param0_0" LOCATE =  SITE "AA5" LEVEL 1; 
COMP "PADOUT_CS4202BitClkBus_Param0_0" LOCATE =  SITE "AA6" LEVEL 1; 
COMP "PADOUT_CS4202SyncBus_Param0_0" LOCATE =  SITE "AA7" LEVEL 1; 
COMP "PADOUT_CS4202NotResetBus_Param0_0" LOCATE =  SITE "AB7" LEVEL 1; 
COMP "PADIN_RC200ButtonsIn_in_0" LOCATE =  SITE "J5" LEVEL 1; 
NET "W16_rc200e" BEL "B15_rc200e_RC200Clock50000000BUFG.GCLKMUX" 
USELOCALCONNECT ;
NET "WG17_rc200e" PERIOD =  20 nS   HIGH 50.000000 % ;
TIMEGRP "TG_rc200e_main_2_CS4202BitClkBus_Param0" = BEL "AA6" ; 
TIMEGRP "TG_rc200e_main_2_CS4202NotResetBus_Param0" = BEL "AB7" ; 
TIMEGRP "TG_rc200e_main_2_CS4202SDataOutBus_Param0" = BEL "AA5" ; 
TIMEGRP "TG_rc200e_main_2_CS4202SyncBus_Param0" = BEL "AA7" ; 
TIMEGRP "FFS" = FFS ("*") ; 
TS_FFS_OUT_TG_rc200e_main_2_CS4202BitClkBus_Param0 = MAXDELAY FROM TIMEGRP "FFS"
 TO TIMEGRP "TG_rc200e_main_2_CS4202BitClkBus_Param0" 20 nS ;
TIMEGRP "PADS" = PADS ("*") ; 
TS_PADS_OUT_TG_rc200e_main_2_CS4202BitClkBus_Param0 = MAXDELAY FROM TIMEGRP 
"PADS" TO TIMEGRP "TG_rc200e_main_2_CS4202BitClkBus_Param0" 20 nS ;
TS_FFS_OUT_TG_rc200e_main_2_CS4202NotResetBus_Param0 = MAXDELAY FROM TIMEGRP 
"FFS" TO TIMEGRP "TG_rc200e_main_2_CS4202NotResetBus_Param0" 40 nS ;
TS_PADS_OUT_TG_rc200e_main_2_CS4202NotResetBus_Param0 = MAXDELAY FROM TIMEGRP 
"PADS" TO TIMEGRP "TG_rc200e_main_2_CS4202NotResetBus_Param0" 40 nS ;
TS_FFS_OUT_TG_rc200e_main_2_CS4202SDataOutBus_Param0 = MAXDELAY FROM TIMEGRP 
"FFS" TO TIMEGRP "TG_rc200e_main_2_CS4202SDataOutBus_Param0" 40 nS ;
TS_PADS_OUT_TG_rc200e_main_2_CS4202SDataOutBus_Param0 = MAXDELAY FROM TIMEGRP 
"PADS" TO TIMEGRP "TG_rc200e_main_2_CS4202SDataOutBus_Param0" 40 nS ;
TS_FFS_OUT_TG_rc200e_main_2_CS4202SyncBus_Param0 = MAXDELAY FROM TIMEGRP "FFS" 
TO TIMEGRP "TG_rc200e_main_2_CS4202SyncBus_Param0" 40 nS ;
TS_PADS_OUT_TG_rc200e_main_2_CS4202SyncBus_Param0 = MAXDELAY FROM TIMEGRP "PADS"
 TO TIMEGRP "TG_rc200e_main_2_CS4202SyncBus_Param0" 40 nS ;
SCHEMATIC END ;
