/*  Supplementary styles for CS-345 web pages.
 */

th {
  padding: 0.1em 0.5em;
  }

th[scope=row] {
  text-align: right;
  }
td {
  padding: 0.1em 0.3em;
  }

table {
  font-size: 1.0em;
  }

caption {
  caption-side: top;
  width: 100%;
  margin: auto;
  text-align: left;
  font-weight: bold;
  font-size: 1.4em;
  padding: 1em 0;
  }

@media print {
  #tooltip { display: none; }
  }

#tooltip {
  background-color: #f99;
  color: #000;
  width: 40%;
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
  visibility: hidden;
  }

#tableDiv {
  width: 90%;
  margin: 0 0 0 1em;
  }
