html, body {
  background: #fffff0;
  font-family: sans-serif;
  }
p         {       margin-left:      1em;
                  font-size:        0.8em;
          }
p.option  {       width:            80%;
                  margin:           auto;
                  font-size:        1.1em;
                  font-style:       bold;
          }
input.optionBox { margin: 0; padding: 0; }
#navDiv   {       display:          none;
                  margin-left:      auto;
                  margin-right:     auto;
                  margin-top:       1.5em;
                  margin-bottom:    1.5em;
                  font-size:        0.8em;
                  text-align:       center;
                  background:       transparent;
          }
#navList  {
                  list-style-type:  none;
          }
li        {      display:          inline; }

.navItem  {       display:          inline;
                  padding-left:     0.5em;
                  padding-right:    0.5em;
                  margin-left:      0.5em;
                  margin-right:     0.5em;
                  border:           none;
                  background-color: transparent;
                  cursor:           default;
         }
.navItem:hover {  background-color: #fcc; }

#imageDiv { display:        none;
            margin-top:     0px;
            margin-bottom:  10%;
            text-align:     center;
          }
#imgTag   {  /* sequence matters; border-color w/ four values n.g. */
            border:               solid 8px;
            border-top-color:     #808060;
            border-right-color:   #e0e0d0;
            border-bottom-color:  #d0d0c0;
            border-left-color:    #707050;
          }
#sizeWarning  {
  text-align: center;
  color:      red;
  }

#optionsDiv   { display:        none; }
#thumbsDiv    { display:        none; }
#optionsText  {
                padding:        1em;
                margin-top:     2em;
                margin-left:    10%;
                margin-right:   20%;
                margin-bottom:  2em;
                padding:        1em;
                background:     white;
                height:         50px;
                overflow:       scroll;
                border-top:     1px solid blue;
                border-left:    1px solid blue;
              }
#footerDiv    { display:        none;
                font-size:      0.6em;
              }
#footer       { text-align:center;  }

