/* syllabus.css */

h4 {
	padding:0;
  margin:0;
  }

a {
  letter-spacing:0.1em;
  text-decoration:none;
  }

ul {
	margin:0;
  padding:0;
  }

cite:after {
	content:"  ";
  }

.latin {
	font-style:italic;
  }
