#overflow_div {
  background-color: white;
  background-image: url(../images/harbor_optimized_black.jpg);
  background-repeat: no-repeat;
  }
#picture {
  height: 566px;
  background-color: black;
  background-image: url(../images/harbor_optimized_black.jpg);
  background-repeat: no-repeat;
  }
#top {
  height: 100%;
  background-image: url(../images/borders/top_border.png);
  background-repeat: repeat-x;
  }
#right {
  height: 100%;
  background-image: url(../images/borders/right_border.png);
  background-repeat: repeat-y;
  background-position: right;
  }
#bottom {
  height: 100%;
  background-image: url(../images/borders/bottom_border.png);
  background-repeat: repeat-x;
  background-position: bottom;
  }
#left {
  height: 100%;
  background-image: url(../images/borders/left_border.png);
  background-repeat: repeat-y;
  }

.diagram {
  margin:           1.5em auto;
  width:            90%;
  }
.boxed {
  padding:          128px 0.5em 0.5em 0.5em;
  border:           1px solid black;
  }
.tinted {
  background-color: #fee;
  color:            #3f3;
  border:           1px solid black;
  }
