@charset "UTF-8";
/* using_photoshop.css */

html, body {
  margin:0;padding:0;
  background-color:#ffc;
  color:#030;
  font-size:15px;
  line-height:1.2;
  font-family:Helvetica, Verdana, Geneva, sans-serif;
}

#header {
	margin:0 0 0 10em; 
  padding:0 0 0 1em;
  max-width:45em;  
  font-size:0.9em;
  text-align:center;
}
#nav-list {
  padding:0.5em;
  background-color:#ccf;
  list-style-type:none;
  position:fixed;
  top:6em;
  left:1em;
  width:8em;
}
#content {
	margin:0 0 0 10em; 
  padding:0.6em;
  max-width:45em;
  }

h2+div {
  background:white;
  border:1px solid green;
  padding:0.5em;
  max-width:60em;
}
h3+div {
  margin:auto;
  padding:0.5em;
  width:95%;
  border: 1px dotted green;
}
table {
  border:1px solid #030;
  border-collapse:separate;
}
td {
  vertical-align:top;
  padding:0.3em;
}
.caption {
  display:block;
}
.ok-for-web, .ok-for-web th { background-color: #cfc; }

#footer {
  font-size:0.6em;
  text-align:left;
  margin:0 0 0 1em; 
  max-width:45em;
}
.tech-term {
  color:#060;
  border-bottom:1px dotted #060;
}
.tag-name {
  color:#060;
}
.tag-name:before {
  content: "<";
}
.tag-name:after {
  content: ">";
}
.ruled-background {
  background: #eef url("../images/ruled-background.png") repeat;
  font-size:20px;
  line-height:1.1;
  padding:0 1.5em;
}
.side-note {
  width: 80%;
  margin:0 auto;
  padding:0.5em;
  text-align:justify;
  border:1px solid #600;
}
.attribute-name {
  font-family:"Lucida Console", Monaco, monospace;
}
.superscript {
  position:relative;
  top:-0.3em;
  font-size:0.7em;
}
.fffffe {
  color:#003311;
}

.program-name {
  font-style:italic;
}

.not-yet {
  color:#f90;
  background-color:#09F;
  text-align:center;
  padding:0.5em;
  font-weight:bold;
}

#gradient-paragraph {
  padding:1em;
  background:#ffc url(../images/lightRedGradient.png) top left repeat-y;
}
.code-block {
  white-space:pre;
  overflow:auto;
  border:1px dotted #060;
}
button {
  margin:0;padding:0;border:none;
}
button img {
  margin:0;padding:0;border:1px dotted black;
}
.javascript-needed {
  display:none;
}
.wide-image {
  width:100%;
}
#repeat-x-before {
  height:85px;
  background: red url(../images/using_photoshop-fig-11.jpg) top left repeat-x;
}
#repeat-x-after, .image-text {
  height:85px;
  background: green url(../images/using_photoshop-fig-12.jpg) top left repeat-x;
}

