html {
  margin:0; padding:0;
	background-color:#666;
	color:#ccc;
	}

body {
  margin: 1em auto;
	padding: 1em;
	background-color:#fff;
	color: #633;
	max-width: 1024px;
	font-family: sans-serif;
	}
h1 {text-align:center;}