/*  style-all.css   */

html,body {
  background-color: #ffc;
  color:            #060;
  font-family:			Arial, Helvetica, sans-serif;
  }

input {
  width: 5em;
  }
table {
  width:              30em;
  margin:             auto;
  border:             solid 2px green;
  background-color:   white;
  color:              black;
  }

h1 {
  text-align:         center;
  }

h2 {
  text-align:         center;
  font-size:          1.1em;
  }

th {
  background-color: #555;
  color:            #ffe;
  text-align:       center;
  }

td {
  border:           1px solid #060;
  vertical-align:   top;
  text-align:       right;
  padding:          0 2em;
  }

a {
  color:            #060;
  background-color: transparent;
  }

a:visited {
  background-color: transparent;
  color:            #060;
  text-decoration:  none;
  }

a:hover {
  background-color: #cfc;
  color:            #060;
  text-decoration:  none;
  }

#footer {
	position: fixed;
  bottom: 0;
  margin: 0; padding: 0.5em;
  background-color:#ffc;
  width:100%;
  text-align:         center;
  font-size:          0.7em;
  }

#slope, #num_contours {
  background-color:   #cfc;
  color:              #030;
  font-weight:        bold;
  width:              80%;
  margin:             auto;
  text-align:         center;
  padding:            1em 0;
  border-style:       solid;
  border-color:       green;
  }
#slope {
  border-width:       1px 1px 0 1px;
  }
#num_contours {
  border-width:       0 1px;
  }

#contours {
  background-color:   #cfc;
  color:              #030;
  width:              80%;
  margin:             auto;
  padding:            0 0 1em 0;
  border-style:       solid;
  border-color:       green;
  border-width:       0 1px 1px 1px;
  }

.prompt {
  font-weight:        bold;
  }

.whitebox {
  background:         white;
  color:              #060;
  border:             solid 1px green;
  width:              90%;
  margin:             auto;
  padding:            2em;
  -moz-border-radius: 10px;
  }

.subscript {
  font-size:        0.8em;
  position:         relative;
  top:              0.4em;
  }

.superscript {
  font-size:        0.8em;
  position:         relative;
  top:              -0.4em;
  }
.accessKey {
  text-decoration:  underline;
  }
