/*  sample_assignment_04.css  */

html, body {
  margin:0; padding:0;
  background-color:#eef;
  }
#blogEntries {
  background: url(../images/2000x20_400_left_fill.png) repeat-y 20%;
  padding: 0 1em 0 21%;
  }
.dateline {
  background-color:#ffe;
  }
