
@import 'bourbon/bourbon';

body { padding: 1em;}
div {
  height: 100px;
  width:  100px;
  background-color:blue;
}
.transformer1 {
  background-color: red;
  @include transition( all, 5s);
  @include transform( rotate(360deg) );
}
.transformer2 {
  background-color: blue;
  @include transition( all, 10s);
  @include transform( rotate(-360deg) );
}
h1 {
  color:blue;
}
