
@import 'bourbon/bourbon';

body {
  padding: 1em;
  width:960px;
  background-color:blue;
  font-family: sans-serif;
}
h1, h2 {
  text-align: center;
  color:lightyellow;
}
h2 { margin-top:50px;}
img {
  border-radius:100px;
}
div {
  margin:auto;
  padding: 100px;
  width:  300px;
  background-color:blue;
  text-align: center;
  border-radius: 300px;
}
.transformer1 {
  background-color: red;
  @include transition( all, 5s);
  @include transform( rotate(360deg) );
}
.transformer2 {
  background-color: blue;
  @include transition( all, 10s);
  @include transform( rotate(-360deg) );
}
