
p {
  padding:1em;
	color:red;
}

.important {
  font-style:italic;
}
label {
  display:block;
  background-color:#33f;
  color:white;
  width:60%;
  margin:auto;
  padding:1em;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.2em;
  font-weight:bold;
  border-radius:0.5em;
  box-shadow:0.25em 0.25em 0.25em #ccf;
  -moz-box-shadow:0.25em 0.25em 0.25em #ccf;
  -webkit-box-shadow:0.25em 0.25em 0.25em #11f;
}
#viewer {display:none;}
#viewer + * { border:5px solid red; }
#viewer:checked + * { display:none; }