/*  picture_frame.css
 */

html,body {
  background-color: red;
  color:            white;
  font-family:      sans-serif;
  height:           100%;
  margin:           0;
  }

h1 { padding: 0.1em 1.5em; margin: 0;}

#content {
  height: 90%;
  color: #000;
  background-color:#fff;
  }

#top {
  height:100%;
  background-position: top;
  background-image: url(../picture_frame_images/top2bottom.png);
  background-repeat: repeat-x;
  }
#right {
  height: 100%;
  background-position: right;
  background-image: url(../picture_frame_images/right2left.png);
  background-repeat: repeat-y;
  }
#bottom {
  height: 100%;
  background-position: bottom;
  background-image: url(../picture_frame_images/bottom2top.png);
  background-repeat: repeat-x;
  }
#left {
  height: 100%;
  background-position: left;
  background-image: url(../picture_frame_images/left2right.png);
  background-repeat: repeat-y;
  }

#header {
  background-color: transparent;
  color:            white;
  height:           10%;
  }
#picture {
  height: 80%;
  }
#picture a {
  display:block;
  height: 90%;
  margin: 1em auto;
  }

#picture img {
  display: block;
  height: 100%;
  margin: 1em auto;
  border: 0;
  }

#footer {
  height: 10%;
  text-align: center;
  background-color: black;
  color: white;
  }

#footer a:link {
  background-color: black;
  color: white;
  }

#footer a:visited {
  background-color: black;
  color: #999;
  }

#footer a:hover {
  text-decoration: none;
  background-color: #999;
  color: white;
  }

#navigation {
  font-size: 1.5em;
  padding: 0.2em;
  }
#validation {
  font-size: 0.7em;
  }
