html, body
{
  background: #ffffcc;
}
h1   { text-align: center;  }
p { margin-left: 1em; margin-right: 2em; }
p.indent {
  margin-left: 4em;
  margin-right: 6em;
  background: #dddddd;
  padding: .5em;
}
p.ans { font-family: monospace; }
p.footer { text-align: center; font-size: smaller; }
blockquote {
  margin-left: 4em;
  margin-right: 6em;
  font-family: Serif;
  text-align: justify;
}
div.whitebox
{
  background:   white;
  border:solid  1px blue; 
  margin:       1em;
  padding:      1em;
}
table
{
  background: white;
  border-collapse: collapse;
  border: solid 1px blue;
  margin: auto;
  width:  80%;
}
th
{
  border:   solid 2px blue;
  padding:  0.5em;
}
td
{
  border:         solid 1px blue;
  padding:        0.5em;
  vertical-align: top;
}
td.center { text-align: center; }
tbody
{
  overflow: auto;
}
table.datatable {width: auto; text-align: center;}
tr.datatable {background: #ffffcc;}
