/* Stylesheet for CS-343 Assignment_99, Fall 2007 */

#info-select {
	width:30%;
  float: left;
  padding:1em;
  margin:0 0 0 10%;
  border: 1px solid red;
  background-color:white;
  color:#666;
  }

#controls_table {
	width:30%;
  float:right;
  padding:1em;
  margin:0 10% 0 0;
  border: 1px solid green;
  background-color:white;
  color:#666 ;
  }

#version_table {
	width: 50%;
  }

.whitebox:after {
	content:" ";
  display:block;
  text-align:center;
  height:0;
  clear:both;
  }

.clear {
	padding-top:1em;
	clear:both;
  }

.legend {
	text-align:center;
 	font-weight:800;
  font-variant:small-caps;
  }

dt.codeBlock {
	margin:0 0 0 2em;
	padding: 0.1em 1em;
  width: 16em;
  }
