/* Styles for pictures in the Photo Gallery */

html, body {
  font-family: sans-serif;
  background-color: red;
  color: white;
	margin: 0;
	height: 100%;
  }

img {
  display: block;
  margin: auto;
	height: 80%;
	border: 1px solid red;
  }

.top {
	height: 90%;
	background-image: url(../picture_frame_borders/top2bottom.png);
	background-repeat:	repeat-x;
 	background-position: top;
	background-color: white;
	color: white;
	}
.right {
	height: 100%;
	background-image: url(../picture_frame_borders/right2left.png);
	background-repeat:	repeat-y;
	background-position: right;
	}
.bottom {
	height: 100%;
	background-image: url(../picture_frame_borders/bottom2top.png);
	background-repeat:	repeat-x;
	background-position: bottom;
	}
.left {
	height: 100%;
	background-image: url(../picture_frame_borders/left2right.png);
	background-repeat:	repeat-y;
	background-position: left;
	}

#header {
	height: 15%;
	font-size: 1.5em;
  }
#content {
	height: 85%;
	}

#footer {
	height: 10%;
  background-color: black;
	color: white;
	text-align: center;
	font-size: 0.7em;
	}
#navigation {
	height: 80%;
  font-size: 2em;
  }
#validation {
	height: 20%;
	line-height: 0.6;
	font-size: 0.9em;
	}
#validation a:link {
  color: #ccc;
	  }
#validation a:hover {
	background-color: #666;
	color: #000;
	}
#validation a:visited {
	color: #999;
	}
