
# 2011-22-11
# Redirect all .html, plus References.xhtml, to the new index.xhtml page.

RedirectMatch 301 .*\.html$        http://babbage.cs.qc.cuny.edu/IEEE-754/index.xhtml
RedirectMatch 301 References.xhtml http://babbage.cs.qc.cuny.edu/IEEE-754/index.xhtml

