/*  style-all.css
 */

html, body {
  background-image:       url(../images/transparent_rocks.gif);
  background-position:    bottom center;
  background-repeat:      no-repeat;
  background-attachment:  fixed;
  background-color:       #f2ffba;
  color:                  #4f5436;
  }

h1 {
  background-image:       url(../images/sunset.jpg);
  background-repeat:      repeat-x;
  background-color:       #4f5436;
  color:                  #f2ffba;
  }

h2 {
  background-image:       url(../images/peaches.jpg);
  background-repeat:      no-repeat;
  background-position:    right;
  }

table {
  background-color:   #ffbfbf;
  color:              #541c1c;

  }

caption {
  background-color:   #dfd;
  color:              #181;
  }

th {
  background-color:   #aba;
  color:              #222;
  }

.odd {
  background-color:   #fcc;
  color:              #411;
  }

