html, body  { width: 100%;
              background:   #cccccc;
              margin:       0;
              padding:      0;
            }
h5          { display:      run-in; }
#head       { text-align:   center;
              padding:      0;
              width:        100%;
            }
#nav        { background:   red;
              text-align:   center;
              width:        100%;
            }
#mission    { width: 80%;
              text-align:   justify;
              margin-left:  auto;
              margin-right: auto;
              padding:      1em;
              background:   #f0f0f0;
              border:       solid 1px #ffcccc;
            }

#footer     { width:      100%;
              text-align: center;
              font-size:  smaller;
            }
p           { margin-left:  1em; margin-right: 2em; }
.indent     { margin-left:  2em;
              margin-right: 2em;
              text-align: justify;
            }
.outline  { text-align:   left;   }
.left     { text-align:   left;   }
.right    { text-align:   right;  }
.center   { text-align:   center; }
.whitebox
{
  width:      60em;
  background: white;
  border:     solid 1px blue;
  margin:     auto;
  padding:    1em;
}

.check-this
{
  border:     solid 1px red;
  padding:    0.1em;
  background: #ffcccc;
  -moz-border-radius: 5pt;
}

.datatable          { border-collapse:    collapse;
                      border:             solid 1px black;
                      margin-left:        2em;
                      font-size:          0.7em;
                    }
.datatable th       { text-align:         left;
                      background:         #cccccc;
                      border:             solid 1px black;
                      padding:            0.5em;
                    }
.datatable td       { border:             solid 1px black;
                      padding:            0.5em;
                      vertical-align:     top;
                      text-align:         right;
                    }
.datatable thead    { border-bottom:      solid 2px black; }
.datatable tfoot    { border-top:         solid 2px black; }
.datatable caption  { text-align:         left;
                      font-size:          smaller;
                      margin-left:        2em;
                      padding:            0.5em;
                    }
.datatable caption:before { content:      "Table 00. "; 
                            font-weight:  bolder;
                          }

.figure img         { margin-left:        2em; 
                                          padding: 0;
                                          background: green;
                                          border: 1px solid;
                    }
.figure-caption     { margin-left:        2em;
                      padding-top:        0;
                      margin-top:         0;
                    }
.figure-caption:before {  content:      "Figure 00. ";
                          font-weight:  bolder;
                        }

