html, body  { font-family:  sans-serif; }
#head       { position:     absolute;
              height:       4.5em;
              top:          0;
              background:   #999999;
              color:        white;
            }
#nav        { position:     relative;
              top:          0.5em;
            }
#content    { position:     absolute;
              top:          7em;
              height:       75%;
              width:        90%;
              overflow:     auto;
              border:       none;
              background:   white;
              margin:       2em 5% 0 5%;
              padding:      1em;
            }
body > #head   { position:     fixed; }
body > #nav    { position:     fixed; }
body > #footer { position:     fixed; }
#nav ul     { list-style: none; margin:0; padding: 0; }
#nav li     { display: inline; }
#nav a:link, #nav a:visited
{
  margin-right:     2px;
  padding:          3px 10px 2px 10px;
  text-decoration:  none;
  background-color: #f0f0f0;
  border-top:       2px solid white;
  border-left:      2px solid white;
  border-bottom:    2px solid #666666;
  border-right:     2px solid #666666;
}
#nav a:hover
{
  background-color: #cccccc;
  border-top:       2px solid #666666;
  border-left:      2px solid #666666;
  border-bottom:    2px solid white;
  border-right:     2px solid white;
}
a:hover, a:active
{ 
  text-decoration: none;
  background: #ccf;
}

a.named { text-decoration: none; background: transparent; }

