html, body  { width: 100%;
              background:   #cccccc;
              margin-left:  0;
              margin-right: 0;
            }
div#head    { text-align:   center;
              padding:      0;
              width:        100%;
            }
div#nav     { background:   red;
              text-align:   center;
              width:        100%;
            }
div#mission { width: 80%;
              text-align:   justify;
              margin-left:  auto;
              margin-right: auto;
              border:       solid 1px #ffcccc;
            }

div#footer  { width:      100%;
              text-align: center;
              font-size:  smaller;
              background: #cccccc;
            }
div.indent  { margin-left:  2em;
              margin-right: 2em;
              text-align: justify;
            }
  .outline  { text-align:   left;  }
  p         { margin-left:  1em; margin-right: 2em; }
  p.right   { text-align:   right; }
  p.center  { text-align:   center; }
  div.white-box
  {
    background:white;
    border:solid 1px blue;
    margin:1em;
    padding:1em;
  }
  a:hover { text-decoration: none; background: #ffcccc; }
  a.named { text-decoration: none; background: transparent; }

  .empty-box
  {
    border: solid 1px red;
    padding: 1px;
    background: #cccccc;
  }

.datatable          { border-collapse:  collapse;
                      border:           solid 1px black;
                      margin-left:      2em;
                    }
.datatable th       { text-align: left;
                      background: #cccccc;
                      border:     solid 1px black;
                      padding:    0.5em;
                    }
.datatable td       { border:         solid 1px black;
                      padding:        0.5em;
                      vertical-align: top;
                      text-align:     right;
                    }
.datatable td.left  { text-align: left; }
.datatable thead    { border-bottom: solid 2px black; }
.datatable tfoot    { border-top:    solid 2px black; }
.datatable caption  { text-align:   left;
                      font-size:    smaller;
                      margin-left:  2em;
                      padding:      0.5em;
                    }
.datatable caption:before { content:      "Table 00. "; 
                            font-weight:  bolder;
                          }

.figure img { margin-left: 2em; 
              padding: 0;
              background: green;
              border: 1px solid;
            }
p.figure-caption { margin-left: 2em; padding-top: 0; margin-top: 0; }
p.figure-caption:before { content:      "Figure 00. ";
                          font-weight:  bolder;
                        }
