html, body
{
  font-family: "Times New Roman", "Times", "Serif";
  font-size:    10pt;
}
p           { text-align:       justify;  }
h2          { page-break-after: avoid;  }
#nav        { visibility:       hidden;
              height:           0;
            }
#content    { position:         relative;
              top:              0;
              border:           none;
              margin:           0;
              padding:          0;
            }  
#validate   { visibility:       hidden; height: 0;}
.whitebox
{
  width:      6.5in;
  background: white;
  border:     none;
  margin:     auto;
  padding:    1em;
}
@page         { size: 8.5in 11in; margin: 0.5in }
