SCHEMATIC START ;
// created by map version G.26 on Thu Oct 14 19:02:06 2004 
COMP "PADOUT_motor_out_0" LOCATE =  SITE "M2" LEVEL 1; 
COMP "PADIN_RC200Clock50000000Bus_in_0" LOCATE =  SITE "E12" LEVEL 1; 
COMP "PADOUT_CS4202SDataOutBus_Param0_0" LOCATE =  SITE "AA5" LEVEL 1; 
COMP "PADOUT_CS4202BitClkBus_Param0_0" LOCATE =  SITE "AA6" LEVEL 1; 
COMP "PADOUT_CS4202SyncBus_Param0_0" LOCATE =  SITE "AA7" LEVEL 1; 
COMP "PADOUT_CS4202NotResetBus_Param0_0" LOCATE =  SITE "AB7" LEVEL 1; 
NET "W10_rc200e" BEL "B9_rc200e_RC200Clock50000000BUFG.GCLKMUX" USELOCALCONNECT 
;
SCHEMATIC END ;
