/*  style_screen.css  */

html,body {
  background-color:     #fee;
  color:                #221;
  font-family:          sans-serif;
  width:                100%;
  margin:               0;
  padding:              0;
  }

h1 {
  padding-left:         1em;
  }

li {
  display:              inline;
  list-style:           none;
  padding:              0.4em;
  }

li a:hover {
  outline:              0.5em solid #66d;
  }

#content {
  width:                80%;
  margin:               auto;
  }

#content img, #content object {
  width:                100%;
  }

#nav img, #nav object {
  height:               4em;
  padding:              0.2em;
  margin:               0.5em;
  }

#header {
  background-image:     url(../images/heading_gradient.png);
  background-position:  left;
  background-repeat:    no-repeat;
  background-color:     #fee;
  color:                #fee;
  }

#footer {
  font-size:            0.7em;
  text-align:           center;
  }

