/*  Media-independent styles
 */
  html, body { background: #ffffcc; }
  h1   { text-align: center;  }
  p { margin-left: 1em; margin-right: 2em; }
  .footer { text-align: center; font-size: smaller; }
  .whitebox {background:white;border:solid 1px blue; margin:1em;
  padding:1em;}
  hr {width: 80%;}
