/*  General stylesheet  */

  html, body
  {
    background: #ffffcc;
    margin:     0;
    padding:    0;
    min-height: 100%;
    width:      100%;
    height:     100%;
  }
  html>body, html>body #content
  {
    height: auto;
  }
  h1            { text-align:   center; }
  h2
  {
    margin-left:    1em;
    margin-bottom:  0;
  }

/*
  fieldset      { margin-left: 2em; padding: 1.5em; }
  legend        { padding: 0.5em; }
 */
  fieldset      { margin: 0; width: 10em; }
  #header
  {
    position: absolute;
    top:        0;
    left:       0;
    height:     3.5em;
    width:      100%;
    padding-bottom: 0.5em;
    background: transparent;
  }
  #navigate
  {
    position:     absolute;
    top:          0;
    right:        0;
    margin-top:   4.5em;
    width:        20%;
  }
  /* Overrides for the nav box for browsers with IQ > 0 */
  body>#navigate
  { 
    position:     fixed;
    top:          4.5em;
    right:        0;
    width:        20%;
    margin-right: 0.5em;
  }
  #navigate p
  {
    margin-top:     0.2em;
    margin-left:    0;
    margin-right:   0;
    margin-bottom:  0;
    padding-bottom: 0.2em;
  }
  .nav-box
  {
    border:   solid 1px black;
    padding:  0.2em;
    margin:   0.2em;
  }
  #content
  {
    margin-top:     4.5em;
    margin-left:    0;
    margin-right:   22%;
  }
  #footer, #footer p
  {
    width:          80%;
    margin-left:    auto;
    margin-right:   auto;
    margin-top:     0;
    margin-bottom:  0;
    padding:        0;
    text-align:     center;
    font-size:      0.9em;
  }

  .whitebox
  {
    background:     white;
    border:         solid 1px blue;
    margin-top:     0.5em;
    margin-bottom:  2em;
    margin-left:    2.5em;
    margin-right:   1em;
    padding:        2em;
  }
  .notice
  {
    background:   #cccccc;
    border:       solid 2px blue;
    text-align:   left;
    padding:      0.5em;
    width:        80%;
    margin-left:  auto;
    margin-right: auto;
  }
  .strike { text-decoration: line-through; }
  #navigate a
  {
    display:          block;
    text-decoration:  none;
    background:       #cccccc;
    font-size:        0.7em;
    margin:           0em 1em;
    padding:          0.2em 0.5em;
    border:           solid 1px black;
  }
  #navigate a:hover
  {
    background:       #fcc;
    color:            #000;
  }
