/*  Copyright 2005 Christopher Vickery

    This file, photos.css, is part of my photo viewer web page.  See
    the "Help/About" link at the bottom of the main page for more
    information.
  
    My photo viewer web page is free software; you can redistribute it
    and/or modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2 of
    the License, or (at your option) any later version.
  
    My photo viewer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    General Public License for more details.
  
    You can obtain a copy of the GNU General Public License by writing
    to the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
    Boston, MA  02111-1307  USA, or on the web at.
    http://www.gnu.org/licenses/.

 */

  html  { background: #ffffcc; }
  body  { background: #ffffcc; }
  button  { background: #ffffcc; }
  H1,H2 { text-align:center; margin: 0; padding: 0; }
  table { width: 100%; padding-left: 1em; padding-right: 1em;
          padding-top: 0; padding-bottom: 1em;}
  td    { padding: 5px; text-align: center; margin: 0; }
  td.logo { width: 100px; background: #ffffc0; }
  td.title {  padding: 0;
              text-align: right;
              font-family: sans-serif;
              font-weight: lighter;
              font-size: smaller;}
  img.main_image
  { 
    padding: 10px;
    background: #ffffc0;
    border-style: solid;
    border-width: 1px;
  }
  img.logo
  {
    padding:      5px;
    border-style: solid;
    border-width: 1px;
  }
  img.thumb
  {
    padding:      0;
    background:   #ffffc0;
  }
  img.header
  {
    border:       thin solid blue;
    padding:      0;
    background:   #ffffc0;
  }
  button  { width: 80px; height: 80px; }
  #header
  {
    background: #ffffc0;
    position: static;;
    width: 100%;
    height: auto;
  }
  #image
  {
    background: #ffffc0;
    position: static;
    width: 100%;
    height: auto;
  }
  #thumbs
  {
    background: #ffffc0;
    position: fixed;
    width: 100%;
    height: 100px;
    overflow: auto;
  }

