/* assignments.css */

html,body {
  margin:0;
  padding:0 0 1.5em 0;
  font-size:10pt;
  font-family:serif;
  line-height:1.2;
  background-color:white;
  color:black;
  }
h1 {
  text-align:center;
}
h2 { margin:0.5em 0 0 0;}
h2+* {
  padding:0;
  margin:0;
	border:none;
	box-shadow:none;
  }
p { text-align:justify; }
.answer-list {
  line-height:1.3;
}
.ans {
  border:1px solid black;
}
.standout-block {
  border:1px solid #999;
  border-radius:0.5em;
}
#footer {
  display:none;
}