/* Course Calendar Stylesheet */
#header {
  margin:1em auto 2em;
  padding:0.5em 0;
  min-width:15em;
  width:100%;
  background-color:#ddd;
  color:black;
}
h1 {
	margin:0;
  padding:0.5em 0 0 0;
  }
#header h2 {
  margin:0;
  padding:0;
}
th { font-size: 1.3em; }
.error {
  text-align:				center;
  font-size:				2em;
  color:						red;
  background-color:	#ccc;
  border:						1px solid red;
  padding:					0.5em;
  }
fieldset {
  background-color:#ddd;
  font-size:0.7em;
}
fieldset h2 {
  width:90%;
  border-bottom:1px solid black;
}
#header, fieldset, #gotonowDiv>button, #class-schedule {
  border:1px solid green;
  border-radius:0.5em;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
  box-shadow: 0.25em 0.25em 0.5em #666;
  -moz-box-shadow: 0.25em 0.25em 0.5em #666;
  -webkit-box-shadow: 0.25em 0.25em 0.5em #666;
  }
#class-schedule {
  border-width:3px;
  font-size:0.8em;
}
#class-schedule table {
  border:none;
  background-color:green;
  width:100%;
}
th {
  background-color:#ccc;
  border:1px solid green;
}
td {
  background-color:white;
  border:1px solid green;
}
td ul {
	margin:0;
}
.top-left {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
.top-right {
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.bottom-right {
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}
.bottom-left {
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
}
#section-info {
	width:					30%;
  margin:					0;
  float:					left;
  }
#administrivia {
	width:					45%;
  margin:					0 0 1em 0;
  float:					right;
  }
#administrivia a {
  text-align:left;
  display:block;
  border:1px solid green;
  text-decoration:none;
  background-color:#999;
  color:white;
  margin:0.1em;
  padding-left:0.5em;
}
#administrivia a:hover {
  border:1px solid black;
  background-color:#666;
  outline:none;
}
.section-name {
	text-align:			left;
  font-weight:		bold;
  font-size:			1.3em;
  margin: 				0.5em 0 0 1em;
	}

.meeting-details {
  padding:0 0 0 2em;
  margin:0;
  font-weight:bold;
  font-size:1.1em;
}
#administrivia p {
  text-align:			left;
  font-weight:		bold;
  font-size:			1.2em;
  padding:        0;
  margin:					0 0.5em;
  }
.class-num {
  width:					5em;
  }
.class-date {
  padding:	      0 0.5em;
  text-align:			left;
  font-family:		monospace;
  font-size:			1.4em;
  width:					8em;
  }
.description {
  text-align:     left;
  margin:         0 0 0 2em;
  font-size:      1.2em;
  }     
button {
  width: 50%;
  padding: 0.5em 0;
  font-weight: bold;
  font-size: 0.9em;
  background-color:#999;
  color:white;
  }
button:hover {
  background-color:#666;
}
input[type=submit] {
  background-color:#999;
  color:white;
  border:none;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}
input[type=submit]:hover {
  background-color:#666;
  color:white;
}
#gotonow { visibility: hidden; margin: 1em auto 1.5em; }
#gotonowDiv { text-align: center; padding: 0 0 0.5em 0;}
.exam {
	color:#c44;
  background-color:#ccc;
  padding:0.3em;
  line-height:1.2;
  display:block;
  text-align:center;
  border:3px outset green;
  }
a {
	padding: 0.2em 0.1em;
  }
#administrivia p.forum-status,
#administrivia p.page-status {
  	padding-left: 2em;
  	font-size: 0.8em;
}
#administrivia p.separator {
  background-color:#666;
  height:1px;
  margin:0.25em 0 0.125em 0;
}
#calendar-update-date {
  text-align:center;
}
#twitter-logo {
  position:relative;
  top:0.25em;
  border:none;
  height:3em;
	background-color:#ccc;
	border-radius:1em;
}
#facebook-logo {
  position:relative;
  top:0.25em;
  border:none;
  height:3em;
}
