
html, body {
  margin:0;
  padding:1em;
  background-color:#ffe;
  color:#161;
  }

table {
	margin-left:1em;
  }

th, td {
  text-align:right;
  }

#footer {
	margin:0; padding:0.5em 0;
	background-color:#ffe;
	position:fixed;
  bottom:0;
  width:100%;
  text-align:center;
  font-size:0.7em;
  }

.error {
  color:red;
  }

