/*  style-screen.css
 */

body, html {
  font-family:  sans-serif;
  font-size:    105%;
  margin:       0;
  padding:      0;
  }

body {
	max-width:900px;
  margin:auto;
  }

h1 {
  font-size:    2em;
  margin:       2em auto 0;
  }

h2 {
  font-size:    1.5em;
  margin-left:  1em;
  }
  
h3 {
  font-size:    1.2em;
  margin-left:  1em;
  }

a:hover {
  background:       #fcc;
  color:            #33f;
  text-decoration:  none;
  outline:1px solid #f66;
  }

p, address, h4 {
  margin-left:      2em;
  }

th {
  background-color: #ddd;
  color:            black;
  }

#header    { font-size: 0.8em; }
#content   { font-size: 0.8em; margin-bottom:2.5em;}
#footer {
  border-top:1px solid #999;
  background-color:#eee;
  color:#000;
  width:100%;
  font-size: 0.7em;
  position:fixed;
  bottom:0;
  left:0;
  padding-top:0.2em;
  }
#footer a {
	padding:0.3em;
  text-decoration:none;
  color:#000;
  }
@media screen and (max-height:500px)  {
  #footer {
    display:none;
  }
}