/* syllabus.css */
html {
  background-color:#333;
  color:white;
}
body {
  margin: auto;
  max-width: 900px;
  padding:3em;
  background-color:#999;
  color:white;
  font-size: 12PX;
  line-height: 1.0;
  }
#rubrics {
  list-style-type:square;
  margin:1em;
}
#rubrics li {
  margin:1em;
  text-align:justify;
}
#rubrics {
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
  border-radius:0.5em;
  border:1px solid green;
}
.current-semester-link {
  text-align:center;
  font-variant:small-caps;
  font-size:1.1em;
}
.current-semester-link a {
  padding:0.3em;
  text-decoration:none;
  color:#ffc;
}
.current-semester-link a:hover {
  color:#099;
  background-color:#ffc;
  border:none;
  border-radius:0.125em;
}
.current-semester-link:before {
  content:'Link:';
}

h1 {
  margin-top:0;
  text-align:center;
}
h2+div {
  background-color:white;
  color:#033;
  padding:1em;
  width:90%;
  margin:auto;
  -moz-border-radius:0.25em;
  border-radius:0.25em;
  box-shadow:#033 0.25em 0.25em 0.25em;
  }
h2 a {color:white;}

#footer {
  position:relative;
  margin-top:2em;
  border-top:none;
  width:100%;
  background-color:transparent;
}
.standout-block {
  border:3px outset #066;
}
table {border:3px outset #393;}
th {border:1px solid green;}
h5,h5+* {
  margin-left:0;
  display:inline;
}
.no-assignment {
  text-align:center;
  font-weight:bold;
  background-color:#ddd;
}
@media print {
  html,body {
    background-color:white;
    color:black;
    line-height:1;
    font-size:10pt;
    max-width:6.5in;
    margin:0;
    padding:0;
  }
}
code {
  display:inline;
  white-space:pre;
  }
code.block {
  display:block;
  overflow:auto;
  width:90%;
  border:1px solid red;
  padding:1em;
}
aside {
  float:right;
  width:40%;
  margin:0.5em;
  padding:0.5em;
  border: 1px solid #ccc;
  border-radius:0.25em;
  font-size: 0.9em;
}
