
.explanation {
  background-color:white;
  border: 1px solid green;
  margin:0.5em;
  padding: 0.25em;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
table {
  border:none;
}
td {
  	border:none;
}
li {
  margin-top:0.5em;
}
table.exam-question {
  border: 1px solid black;
}
table.exam-question td {
  border:1px solid black;
  text-align:center;
}
tr.explanation th {
  border-top:none;
}
tr.problem th {
  border-bottom:none;
}
tr.explanation td {
  text-align:left;
}